button{
    padding:15px;
    border:none;
    background-color:green;
    color:white;
    border-radius:15px;
    transition:1s;
}

button:hover{
    background-color:red;
    transform:scale(1.2);
}